<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138675104327-9231ui2ldhiv22s82bkgb5chit72to2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138675104327-9231ui2ldhiv22s82bkgb5chit72to2t</string>
	<key>API_KEY</key>
	<string>AIzaSyB6hPnVtk3XiVGv37HgqruOnwseENVVz14</string>
	<key>GCM_SENDER_ID</key>
	<string>138675104327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgiancollege.FinalTest</string>
	<key>PROJECT_ID</key>
	<string>finaltest-5132b</string>
	<key>STORAGE_BUCKET</key>
	<string>finaltest-5132b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138675104327:ios:2d51368e71a075fa9a1f62</string>
</dict>
</plist>